target
.project
.settings/
.classpath
.idea
*.dot.crc
target
*.dot
*_SUCCESS
*_DONE
.cache
bin
metastore_db
derby.log
**/*.cache-main
**/*.iml
**/*.DS_Store
**/*.docker-dir
**/*.swo
**/*.swp
**/*.ipr
**/*.iws
